.App {
  background-color: #fff;
}

h1 {
  margin: 0 auto;
  padding: 15px;
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  color: black;
  background-color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #272727;
  font-size: 1rem;
}

a {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

hr {
  width: 25%;
}
