.App{
  background-color: #fff;
}

h1{
  margin: 0 auto;
  font-size: 5.265rem;
  font-family: 'Sacramento', cursive;
  color:black;
  background-color: #fff;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color:black;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}

a{
  color:black;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;  
}
a:hover{
  text-decoration:none; 
}